/* Mixins -------------------- */
/* Web Fonts -------------------- */
@import "https://fonts.googleapis.com/css?family=Courgette|Pacifico|Charm";
@import "https://use.fontawesome.com/releases/v5.7.1/css/all.css";
.main-header {
  background: url(../images/bg.jpg);
  background-size: 100% 100%;
  text-align: center;
  height: 40rem; }
.main-heading {
  font-size: 50px;
  color: royalblue;
  letter-spacing: 5px;
  text-shadow: 0 2px 3px black; }
.main-title {
  font-size: 30px;
  color: royalblue;
  font-family: 'Courgette', cursive;
  text-shadow: 0 2px 3px black; }

.button {
  background-color: rgba(76, 175, 79, 0);
  color: azure;
  padding: 20px 20px 20px 30px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  font-family: 'Courgette', cursive;
  text-shadow: 0 2px 3px black; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f900;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 25px; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Courgette', cursive; }

.dropdown-content a:hover {
  background-color: #ffffff00; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .button {
  background-color: #66d0eb00; }

.contact {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

.enquire {
  margin: 0;
  padding-top: 2rem; }

.hiking-picture {
  height: 25rem;
  width: 100%;
  background: url(../images/Lions-head.jpg);
  background-size: 100% 100%;
  border-radius: 10px; }

.climbing-picture {
  height: 25rem;
  width: 100%;
  background: url(../images/devils-peak.jpg);
  border-radius: 10px;
  background-size: 100% 100%; }

.camping-picture {
  height: 25rem;
  width: 100%;
  background: url(../images/campie.jpg);
  border-radius: 10px;
  background-size: 100% 100%; }

.canoeing-picture {
  height: 25rem;
  width: 100%;
  background: url(../images/Hout-bay.jpg);
  border-radius: 10px;
  background-size: 100% 100%; }

.hunting-picture {
  height: 25rem;
  width: 100%;
  background: url(../images/hunting1.jpg);
  border-radius: 10px;
  background-size: 100% 100%; }

.fishing-picture {
  height: 25rem;
  width: 100%;
  background: url(../images/fishie2.png);
  border-radius: 10px;
  background-size: 100% 100%; }

.slide {
  padding-top: 10rem;
  transition: padding-left 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 1.8rem; }

.slide a {
  text-decoration: none;
  color: azure; }

.slide :hover {
  text-shadow: 2px 3px royalblue; }

.adventure:hover .slide {
  padding-left: 14rem;
  transition: padding-left 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 1; }

.con {
  font-size: 40px;
  padding: 10px;
  color: aqua; }

.move {
  padding-left: 25%;
  padding-top: 50%; }

.color {
  color: azure;
  font-family: 'Courgette', cursive; }

.gall {
  margin: 5px; }

.hr-line {
  border-style: dotted; }

/* Base Styles -------------------- */
body {
  margin: 0;
  padding: 0;
  background-color: azure; }

h1 {
  font-family: 'Courgette', cursive;
  text-align: center; }

ul {
  padding: 20px 20px 20px 0;
  background-color: rgba(65, 105, 225, 0);
  margin-top: 0; }

li {
  list-style: none;
  padding: 30px;
  display: inline; }

li a {
  text-decoration: none;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: azure;
  text-shadow: 0 2px 3px black; }

form {
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 50px; }

h1 {
  color: royalblue; }

h2, h3 {
  font-family: 'Courgette', cursive;
  color: azure;
  text-shadow: 0 5px 4px black; }

p {
  font-family: 'Courgette', cursive; }

input {
  height: 40px;
  width: 200px;
  background-color: rgba(60, 188, 141, 0);
  font-size: 20px;
  font-family: 'Courgette', cursive;
  color: azure;
  border-radius: 10px; }

select {
  height: 40px;
  width: 200px;
  background-color: rgba(60, 188, 141, 0);
  font-size: 20px;
  font-family: 'Courgette', cursive;
  color: azure;
  border-radius: 10px; }

option {
  color: azure;
  background-color: tomato; }

input[type=email] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; }

input[type=email]:focus {
  width: 60%; }

textarea {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #ccc;
  color: azure; }

span {
  font-family: 'Pacifico', cursive; }

footer {
  height: 2%;
  background-color: royalblue; }

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  width: 100%; }

img {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem; }

.forest {
  grid-column: 2 / 4;
  grid-row: 2 / 4; }

.cape {
  grid-column: span 2; }

.camping {
  grid-column: span 2;
  grid-row: span 2; }

.rocks {
  grid-column: span 1; }

.adventure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  grid-gap: 2%; }

.climb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  grid-gap: 2%;
  grid-template-areas: "img text"; }

.climbing-text {
  grid-area: text; }

.climbing-picture {
  grid-area: img; }

.canoe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  grid-gap: 2%;
  grid-template-areas: "img text"; }

.canoe-text {
  grid-area: text; }

.canoeing-picture {
  grid-area: img; }

.fish {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  grid-gap: 2%;
  grid-template-areas: "img text"; }

.fishing-text {
  grid-area: text; }

.fishing-picture {
  grid-area: img; }

/* Media Queries -------------------- */
@media only screen and (max-width: 768px) {
  .adventure:hover .slide {
    transition: none;
    opacity: 1;
    padding-left: 0; }

  .slide {
    transition: none;
    opacity: 1;
    font-family: 'Courgette', cursive;
    font-size: auto;
    text-align: center; }

  .contact {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "form"; } }
@media only screen and (max-width: 376px) {
  .wrapper {
    display: block;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    width: 100%; }

  .container {
    display: block;
    width: 100%; }

  .adventure {
    display: block;
    margin: 10px; } }

/*# sourceMappingURL=main.css.map */
