/* Base Styles -------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: royalblue;
}

h1 {
    font-family: 'Pacifico', cursive;
}

ul {
    padding: 20px 20px 20px 0;
    position: fixed;
    background-color: rgba(65, 105, 225, 0);
    height: 100%;   
    margin-top: 0;
    color: rgb(68, 57, 136); 
}


li {
    list-style: none;
    padding: 30px;
    display: inline;
}

a {
    text-decoration: none;
    font-family: 'Pacifico', cursive;   
    font-size: 30px; 
}




