/* Base Styles -------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

ul {
    padding: 20px 20px 20px 0;
    background-color: rgba(65, 105, 225, 0); 
    margin-top: 0;
}


li {
    list-style: none;
    padding: 30px;
    display: inline;
}

li a {
    text-decoration: none;
    font-family: 'Pacifico', cursive;   
    font-size: 30px; 
    color: rgb(0, 0, 0); 
    text-shadow: 0 5px 4px azure;
}

form {
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
}

h2,h3 {
    font-family: 'Courgette', cursive;
}

p {
    font-family: 'Courgette', cursive;
}
// placing my mxins for my contact page
input {
    @include select;
}

select {
    @include select;   
}



// end of my contact mixin

// styling my email input

input[type=email] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=email]:focus {
    width: 60%;
}

// end of my input styling 

// start of my text area styling

textarea {
    @include textarea;
}
// end of my textarea styling

span {
    font-family: 'Pacifico', cursive;
}