/* Base Styles -------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
}

ul {
    padding: 20px 20px 20px 0;
    background-color: rgba(65, 105, 225, 0); 
    margin-top: 0;
}


li {
    list-style: none;
    padding: 30px;
    display: inline;
}

li a {
    text-decoration: none;
    font-family: 'Courgette', cursive;   
    font-size: 30px; 
    color: azure; 
    text-shadow: 0 2px 3px black;
}

form {
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
}

h1{
    color: royalblue;
}

h2,h3 {
    font-family: 'Courgette', cursive;
    color: azure;
    text-shadow: 0 5px 4px black;
}

p {
    font-family: 'Courgette', cursive;
}
// placing my mixins for my contact page
input {
    @include select;
}

select {
    @include select;   
}

// select[name="activity"] {
//     color: black;
//     background-color: tomato;
// }

option {
    color:azure;
    background-color: tomato;
}


// end of my contact mixin

// styling my email input

input[type=email] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=email]:focus {
    width: 60%;
}

// end of my input styling 

// start of my text area styling

textarea {
    @include textarea;
}
// end of my textarea styling

span {
    font-family: 'Pacifico', cursive;
}

footer {
    height: 2%;
    background-color:royalblue;
}