// Mixins are one of the most used features of Sass. They let you break CSS down into modular chunks that you can reuse anywhere in your stylesheets. Being able to do this helps us to avoid writing repetitive code.


/* Mixins -------------------- */

@mixin example {
    height: 40px;
    width: 200px;
    background-color: rgba(60, 188, 141, 0.555);
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: azure;
}

@mixin textarea {
    border-radius: 4px;
    border: 2px solid #ccc;
}