// Mixins are one of the most used features of Sass. They let you break CSS down into modular chunks that you can reuse anywhere in your stylesheets. Being able to do this helps us to avoid writing repetitive code.


/* Mixins -------------------- */

@mixin select {
    height: 40px;
    width: 200px;
    background-color: rgba(60, 188, 141, 0.000);
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: azure;
    border-radius: 10px;
}

@mixin textarea {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #ccc;
    color: azure;
}

@mixin contact {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form icons";
}

@mixin form {
    grid-area: form;
}

@mixin aside {
    grid-area: icons;
}

@mixin cons {
    font-size: 40px;
    padding: 10px;
    color: aqua;
}