/* Media Queries -------------------- */


// How to Use CSS to Resize Your (Foreground) Images While Preserving Their Aspect Ratio
// The simplest and most painless way to quickly get all your existing foreground pictures to fit a mobile screen is to resize them with CSS. This can easily be done with the following rules.

// img {
//     width: auto;
//     max-width: 100%;
//     height: auto;
// }

// How to Use Mobile Queries to Deliver Responsive Background Images

// @media (max-width: 480px) {
//     #picblock {
//         background-image: url(mobile.png);
//         background-repeat: no-repeat;
//         background-size: contain;
//     }
// }


@media only screen and (max-width: 768px) {
    .adventure:hover .slide {
        transition: none;
        opacity: 1;
        padding-left: 0;
        
      }

      .slide {
        transition: none;
        opacity: 1;
        font-family: 'Courgette', cursive;
        font-size: auto;
        text-align: center;
      }

// contact form responsiveness
      .contact {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: "form";
    }
}

@media only screen and (max-width: 376px) {
    .wrapper {
        display: block;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        width: 100%;                  
    }

    .container {
      display: block;
      width: 100%;  
  }

  .adventure {
    display: block;
    margin: 10px;
  }
}