// Gallery Styling
.container {
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 300px);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
}

.forest {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.cape {
    grid-column: span 2;
}
// end of my gallery styling

// grid for my homepage content

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hike climb"
                         "hunt fish"
                         "camp canoe"
}

.hike {
    grid-area: hike;
    margin: 10px;
}

.climb {
    grid-area: climb;
    margin: 10px;
}

.hunt {
    grid-area: hunt;
    margin: 10px;
}

.fish {
    grid-area: fish;
    margin: 10px;
}

.camp {
    grid-area: camp;
    margin: 10px;
}

.canoe {
    grid-area: canoe;
    margin: 10px;
}

.contact {
    @include contact;
}
