// Gallery Styling
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;  
}
img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
}

.forest {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.cape {
    grid-column: span 2;
}

.camping {
    grid-column: span 2;
    grid-row: span 2;   
}

.rocks {
    grid-column: span 1;
}

// ===###=== end of my gallery styling ===###===

// my grid styling and positions on homepage
.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 2%;
}

// ===###=== my  climb  section on homepage ===###===

.climb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 2%;
    grid-template-areas: "img text";
}

.climbing-text {
    grid-area: text;
}

.climbing-picture {
    grid-area: img;
}

// ===###=== my canoe section on my home page  ===###===

.canoe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 2%;
    grid-template-areas: "img text"
}

.canoe-text {
    grid-area: text;
}

.canoeing-picture {
    grid-area: img;
}


// ===###=== my fishing section ===###===
.fish {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 2%;
    grid-template-areas: "img text"
}

.fishing-text {
    grid-area: text;
}

.fishing-picture {
    grid-area: img;
}

// ===###=== end of my content on home page grids ===###===

.footer-grid {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr;
}